<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd">

 <context:component-scan base-package="stock.management"/>
		<mvc:annotation-driven/>
    
  	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	  	<property name="prefix" value="/view/"/>
	  	<property name="suffix" value=".jsp"/>
  	</bean>  
  	
  	<bean id="data" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
  		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
  		<property name="url" value="jdbc:mysql://localhost:3306/stock"/>
  		<property name="username" value="root" />
  		<property name="password" value="scratchpes11"/>
  	</bean>
  	
  	<jpa:repositories base-package="stock.management" /> 
  	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"> 
  		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="data" /> 
		<property name="packagesToScan" value="stock.management" /> 
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"> 
				<property name="generateDdl" value="true" />
    		 </bean>
     	</property>
     </bean>
     


</beans>